.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 100px 0px;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__form {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.name-input {
  width: 200px;
  background-color: lightgray;
  border: 1px solid white;
  height: 20px;
  border-radius: 5px;
}
.list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
}
.list-element{
    border: 1px solid black;
    width: 200px;
    height: 300px;
}
.element-img{
  width: 200px;
}
.element-name{
    color: black;
    font-size: 18px;
    padding-left: 10px;
}
.element-race{
    color: black;
    font-size: 15px;
    padding-left: 10px;
}