.page {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 100px 0px;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__img{
  width: 500px;
  margin-bottom: 20px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__form {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.name-input {
  width: 400px;
  background-color: white;
  border: 1px solid white;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.list-element{
    border: 1px solid white;
    background-color: #c5cd95;
    border-radius: 10px;
    width: 200px;
    height: 310px;
}
.list-element:hover{
  box-shadow: 5px 5px  #94512c;
  -webkit-transform:scale(1.3);transform:scale(1.05);
}
.element-img{
  width: 200px;
  border-radius: 10px;
}
.element-name{
    color: #47a072;
    font-size: 18px;
    padding-left: 10px;
    font-weight: bold;
}
.element-race{
    color: #2d5837;
    font-size: 15px;
    padding-left: 10px;
}
.detail{
  color: black;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #b0bd2e;
  margin-top: 30px;
  padding: 20px;
  min-width: 700px;
  display: flex;
  gap: 30px;
}
.detailImg{
  max-width: 300px;
  border-radius: 10px;
}
.detailData{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.reset{
  background-color: #94512c;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
}