.list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.list-element{
    border: 1px solid white;
    background-color: #c5cd95;
    border-radius: 10px;
    width: 200px;
    height: 310px;
}
.list-element:hover{
  box-shadow: 5px 5px  #94512c;
  -webkit-transform:scale(1.3);transform:scale(1.05);
}
.element-img{
  width: 200px;
  border-radius: 10px;
}
.element-name{
    color: #47a072;
    font-size: 18px;
    padding-left: 10px;
    font-weight: bold;
}
.element-race{
    color: #2d5837;
    font-size: 15px;
    padding-left: 10px;
}
.link{
  text-decoration: none;
}